<md-whiteframe class="md-padding" layout="column">
  <md-whiteframe layout="row" layout-align="space-around start">
    <div class="md-padding layout-form"  style="margin: 30px 30px 0 30px;">
      <div class="info">
        <span>学 院 名 称:<b class="force_justify"></b></span>
        <label>{{vm.selectDep.name | default}}</label>
      </div>
      <div class="info">
        <span>学 院 地 址:<b class="force_justify"></b></span>
        <label>{{vm.selectDep.address | default}}</label>
      </div>
    </div>
    </md-whiteframe>
  <md-whiteframe flex>
    <md-content layout="column"  class="dep-description">
      <h2>学院介绍</h2>
      <div ng-bind-html="vm.selectDep.description | trustHtml"></div>
    </md-content>
    <md-button class="more-info">查看完整信息</md-button>
  </md-whiteframe>
</md-whiteframe>
