<md-whiteframe class="md-padding" layout="row" layout-align="space-around start" style="padding: 20px">
  <md-whiteframe layout="column" flex="30">
    <form name="vm.addForm" class="md-padding">
      <md-input-container class="add-edit">
        <label>学校名称</label>
        <input required ng-model="vm.department.name" type="text">
        <div ng-messages="vm.addForm.department.name.$error">
          <div ng-message="required">学校名称不能为空</div>
        </div>
      </md-input-container>
      <md-input-container class="add-edit">
        <label>学校地址</label>
        <input required ng-model="vm.department.address" type="text">
        <div ng-messages="vm.addForm.department.address.$error">
          <div ng-message="required">学校地址不能为空</div>
        </div>
      </md-input-container>
    </form>
  </md-whiteframe>
  <md-whiteframe flex="70">
    <md-content layout="column" class="editer-total content-border">
      <md-content  class="md-toolbar-tools toolbar-border">学校介绍</md-content>
      <text-angular class="content-border"  ng-model="vm.department.description" ta-toolbar="{{Config.toolbars}}"></text-angular>
      <md-content>
        <md-button class="md-toolbar-tools" flex ng-model="vm.department.attachment">添加附件</md-button>
      </md-content>
    </md-content>
  </md-whiteframe>
</md-whiteframe>

