<form name="vm.addForm" layout="column" novalidate flex>
    <md-toolbar layout="row">
        <div class="md-toolbar-tools" flex>题目信息</div>
        <md-button ng-click="vm.addTitle($event)" ng-if="vm.addForm.$valid">添加</md-button>
    </md-toolbar>
    <div layout="column" class="container-padding">
        <md-input-container>
            <label>题目</label>
            <textarea ng-model="vm.title.content" type="text" required name="content"></textarea>
            <div ng-messages="vm.addForm.content.$error">
                <div ng-message="required">题目不能为空</div>
            </div>
        </md-input-container>
        <md-input-container>
            <label>描述</label>
            <textarea ng-model="vm.title.description" type="text"></textarea>
        </md-input-container>
    </div>

    <div layout="column" class="container-padding">
        <div layout="row">
            <h2 flex>答案:</h2>
        </div>
        <div ng-repeat="answer in vm.title.answers">
            <div style="border: solid chartreuse 1px; margin: 5px;">
                <md-input-container>
                    <label>答案</label>
                    <input multiple type="text" ng-model="answer.content">
                </md-input-container>
                <md-checkbox ng-model="answer.correct">
                    是否为正确答案
                </md-checkbox>
            </div>
        </div>
        <md-button ng-click="vm.addAnswer($event)">添加答案</md-button>
    </div>
</form>
