<md-content layout="column" flex>
    <md-toolbar layout="row">
        <div class="md-toolbar-tools" flex>历史作业</div>
        <md-button ng-href="/#/main/exam/add">添加</md-button>
    </md-toolbar>
    <div >
        <div layout="column" ng-repeat="title in vm.arranges">
            <a ng-href="/#/main/work/history?id={{title.id}}" class="link container-padding" flex>
                <div layout="row" layout-align="center center">
                    <h3>{{$index+1}}</h3>
                    <span class="split-30"></span>
                    <div layout="row" layout-align="center center" flex>
                        <span flex><h2>{{title.arrange.name}}</h2></span>
                        <label>教师: {{title.teach.name}}</label>
                    </div>
                </div>
            </a>
            <div class="list-divider" ng-if="!$last"></div>
        </div>
        <div ng-if="!vm.arranges || vm.arranges.length === 0">
            <label>暂无历史作业</label>
        </div>
    </div>

</md-content>
