<div layout="row">
    <md-whiteframe class="md-whiteframe-z4" layout="column" flex>
        <md-toolbar md-theme="altTheme" layout="row" class="toolbar-border">
            <div class="md-toolbar-tools" flex>我的题目</div>
            <md-button ng-href="/#/main/title/add">添加</md-button>
        </md-toolbar>
        <div layout="row" ng-repeat="title in vm.user.titles">
            <lable>{{$index+1}}</lable>
            <md-button flex ng-href="/#/main/title/info?id={{title.id}}">{{title.content}}</md-button>
            <label flex>{{title.description}}</label>
        </div>
        <div ng-if="!vm.user.titles || vm.user.titles.length === 0">
            <md-button ng-href="/#/main/title/add">没有出过题目，点此添加</md-button>
        </div>
    </md-whiteframe>
</div>
