<md-content layout="column" flex>
    <md-toolbar layout="row">
        <div class="md-toolbar-tools" flex>我的试卷</div>
        <md-button ng-href="/#/main/exam/add">添加</md-button>
    </md-toolbar>
    <div >
        <div layout="column" ng-repeat="title in vm.exams">
            <a ng-href="/#/main/work/info?id={{title.id}}" class="link container-padding" flex>
                <div layout="row" layout-align="center center">
                    <h3>{{$index+1}}</h3>
                    <span class="split-30"></span>
                    <div layout="column" flex>
                        <span><h2>{{title.name}}</h2></span>
                        <label>{{title.description}}</label>
                    </div>
                </div>
            </a>
            <div class="list-divider" ng-if="!$last"></div>
        </div>
        <div ng-if="!vm.exams || vm.exams.length === 0">
            <label>你很棒,所有试题都组完了</label>
        </div>
    </div>

</md-content>
