<form name="vm.correctForm" class="md-whiteframe-z1" layout="column" flex>
    <md-toolbar layout="row">
        <div class="md-toolbar-tools" flex>试卷</div>
        <md-button ng-click="back()">返回</md-button>
        <md-button ng-click="vm.submit($event)">提交</md-button>
    </md-toolbar>
    <div layout="column" style="background-color: white; padding-bottom: 550px">
        <div layout-align="center center" layout="column">
            <h1>{{vm.exam.name}}</h1>

            <div layout="row">
                <h3>{{'共' + vm.exam.titles.length + ' 题, 满分: ' + vm.exam.percent + '分' }}</h3>

                <h2>学生: {{vm.userarrange.user.name}}</h2>
            </div>

        </div>
        <div layout="column">
            <div layout="row" layout-align="center center">
                <div style="height: 5px; width: 300px" class="answerAllRight"></div>
                <label flex>代表你选到答案,同时也是正确答案</label>
            </div>
            <div layout="row" layout-align="center center">
                <div style="height: 5px; width: 300px" class="answerYou"></div>
                <label flex>代表你选到答案,但不是正确答案</label>
            </div>
            <div layout="row" layout-align="center center">
                <div style="height: 5px; width: 300px" class="answerRight"></div>
                <label flex>代表正确答案</label>
            </div>
        </div>

        <div style="border: dotted 1px #aaa;"></div>

        <div ng-repeat="(bIndex, bigTitle) in vm.exam.titles" style="margin: 10px 5px;">

            <h2 flex>{{((bIndex + 1) | sequence:'zh')+ ' : ' + bigTitle.name + '(每题 ' + bigTitle.percent + "分, 共" + bigTitle.titles.length + " * " + bigTitle.percent + "= " +
                (bigTitle.titles.length *
                bigTitle.percent) + " 分)"}}</h2>

            <div ng-switch="bigTitle.type">
                <div ng-switch-when="0">
                    <div ng-repeat="(tIndex,title) in bigTitle.titles" style="margin-bottom: 10px;padding: 10px;">
                        <div layout="row" layout-align="center center">
                            <h4 style="color: #333333" flex>{{((tIndex + 1)) + ': ' + title.content + ' (分数: ' + (title.percent || 0) + ' 分)'}}</h4>
                            <label style="margin:0px 10px;">(&nbsp;&nbsp;&nbsp;&nbsp;)</label>
                        </div>
                        <md-radio-group>
                            <md-radio-button ng-repeat="(aIndex, answer) in title.answers" style="margin-left: 10px" disabled ng-model="answer.select"
                                             ng-class="{'2':'answerAllRight', '1':'answerRight', '0': 'answerYou'}[answer.correct ? answer.select ? '2' : '1' : answer.select ? '0' : '-1']">
                                {{(aIndex | abcd:'upper') + '. ' + answer.content}}
                            </md-radio-button>
                        </md-radio-group>
                    </div>
                </div>

                <div ng-switch-when="1">
                    <div ng-repeat="(tIndex,title) in bigTitle.titles" style="margin-bottom: 10px;padding: 10px;">
                        <div layout="row" layout-align="center center">
                            <h4 style="color: #333333" flex>{{((tIndex + 1)) + ': ' + title.content + ' (分数: ' + (title.percent || 0) + ' 分)'}}</h4>
                            <label style="margin:0px 10px;">(&nbsp;&nbsp;&nbsp;&nbsp;)</label>
                        </div>
                        <md-checkbox disabled ng-repeat="(aIndex,answer) in title.answers" style="margin-left: 10px" ng-model="answer.select"
                                     ng-class="{'2':'answerAllRight', '1':'answerRight', '0': 'answerYou'}[answer.correct ? answer.select ? '2' : '1' : answer.select ? '0' : '-1']">
                            {{(aIndex | abcd:'upper') + '. ' + answer.content}}
                        </md-checkbox>
                    </div>
                </div>


                <div ng-switch-default>
                    <div ng-repeat="(tIndex,title) in bigTitle.titles" style="margin-bottom: 10px;padding: 10px;">
                        <div layout="row" layout-align="center center">
                            <h4 style="color: #333333" flex>{{((tIndex + 1)) + ': ' + title.content}}</h4>
                        </div>
                        <div style="margin: 10px">
                            <label>答案:</label>

                            <p>{{title.answer}}</p>
                        </div>
                        <md-input-container>
                            <label>分数</label>
                            <input type="number" required ng-model="title.percent">
                        </md-input-container>
                        <div>
                            <md-button ng-if="vm.filterCorrect(title.answers).length > 0" ng-click="vm['_'+bIndex + '_' + tIndex + '_'] = !vm['_'+bIndex + '_' + tIndex + '_']">参考答案</md-button>
                            <div ng-if="vm['_'+bIndex + '_' + tIndex + '_']" layout="row" ng-repeat="(aIndex,answer) in vm.filterCorrect(title.answers)">
                                <label>{{aIndex+1}}: </label>
                                <p style="margin: 0px 20px">{{answer.content}}</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
</form>