<section layout="row" flex  class="body">
  <md-sidenav class="site-sidenav md-sidenav-left md-whiteframe-z2" md-component-id="left"
              md-is-locked-open="$mdMedia('gt-sm')">
    <md-toolbar>
      <h1 class="md-toolbar-tools">
        <a ng-href="/" layout="row" flex style="color:#fff">
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve" style="width: 40px; height: 40px;">
                  <path d="M 50 0 L 100 14 L 92 80 L 50 100 L 8 80 L 0 14 Z" fill="#b2b2b2"></path>
                  <path d="M 50 5 L 6 18 L 13.5 77 L 50 94 Z" fill="#E42939"></path>
                  <path d="M 50 5 L 94 18 L 86.5 77 L 50 94 Z" fill="#B72833"></path>
                  <path d="M 50 7 L 83 75 L 72 75 L 65 59 L 50 59 L 50 50 L 61 50 L 50 26 Z" fill="#b2b2b2"></path>
                  <path d="M 50 7 L 17 75 L 28 75 L 35 59 L 50 59 L 50 50 L 39 50 L 50 26 Z" fill="#fff"></path>
                </svg>
          <div class="docs-logotype">作业管理系统</div>
        </a>
      </h1>
    </md-toolbar>

    <md-content flex role="navigation">
      <ul class="docs-menu">
        <div layout="column" layout-align="center center" style="background-color: #f0f0f0">
          <p>{{self.name}}</p>
          <div layout="row" layout-align="center center">
            <md-button ng-click="vm.quit()">退出系统</md-button>
            <md-button ng-click="vm.change()">修改个人资料</md-button>
          </div>
        </div>


        <li ng-repeat="section in vm.sections"  class="parent-list-item"
            ng-class="{'parentActive' : vm.isSectionSelected(section)}">
          <h2 class="menu-heading" ng-if="section.type === 'heading'" id="heading_{{ section.name | nospace}}">
            {{section.name}}
          </h2>
          <menu-link section="section" ng-if="section.type === 'link'"></menu-link>

          <menu-toggle section="section" ng-if="section.type === 'toggle'"></menu-toggle>

          <ul ng-if="section.children" class="menu-nested-list">
            <li ng-repeat="child in section.children"  ng-class="{'childActive' : isSectionSelected(child)}">
              <menu-toggle section="child"></menu-toggle>
            </li>
          </ul>
        </li>
      </ul>
    </md-content>
  </md-sidenav>
  <div layout="column" tabIndex="-1" role="main" flex>
    <md-toolbar>
      <div class="md-toolbar-tools" ng-click="vm.openMenu()">
        <button class="docs-menu-icon" hide-gt-sm aria-label="Toggle Menu">
          <md-icon md-svg-src="../assets/images/svg/ic_menu_24px.svg"></md-icon>
        </button>

        <div layout="row" flex class="fill-height">
          <div class="md-toolbar-item md-breadcrumb" style="color: #fff">
            <span ng-if="vm.menu.currentPage.name !== vm.menu.currentSection.name">
              <span hide-sm hide-md>{{vm.menu.currentSection.name}}</span>
              <span class="docs-menu-separator-icon" style="" hide-sm hide-md>
                <img src="../assets/images/icons/docArrow.png" alt="" aria-hidden="true">]
              </span>
            </span>
            <span class="md-breadcrumb-page">{{(vm.menu.currentPage) || 'OA' }}</span>
          </div>

          <span flex></span> <!-- use up the empty space -->
          <div class="md-toolbar-item md-tools docs-tools" layout="column" layout-gt-md="row">
            <div>
              <img src="../assets/images/img/face.jpg" class="face" alt="这个是我自己">
            </div>
          </div>
        </div>
      </div>

    </md-toolbar>

    <!--<div ui-view class="scroll"></div>-->
    <md-content ui-view md-scroll-y flex style="background: #eee;height: 100%"></md-content>
  </div>
</section>
