<div layout="row">
    <md-whiteframe class="md-whiteframe-z4" layout="column" flex>
        <md-toolbar md-theme="altTheme" layout="row" class="toolbar-border">
            <div class="md-toolbar-tools" flex>{{vm.course.name}} 学生列表</div>
            <md-button ng-click="vm.addStudent($event)">添加学生</md-button>
        </md-toolbar>
        <div layout="row" ng-repeat="student in vm.course.students">
            <md-button flex>{{$index+1}}</md-button>
            <md-button flex>{{student.name}}</md-button>
            <md-button flex ng-click="vm.removeStudent(student, $index, $event)">删除</md-button>
        </div>
        <div ng-if="!vm.course.students || vm.course.students.length === 0">
            <md-button ng-click="vm.addStudent($event)">没有学生，点此添加</md-button>
        </div>
    </md-whiteframe>
</div>
