<div layout="row">
    <md-content flex>
        <md-toolbar layout="row">
            <div class="md-toolbar-tools" flex>过滤</div>
        </md-toolbar>
        <div class="content-border" ng-include src="'components/template/department.tmp.html'"/>
    </md-content>

    <md-content layout="column" flex>
        <md-toolbar layout="row">
            <div class="md-toolbar-tools" flex>{{vm.selectDep.name | default:'全部'}} 师生列表</div>
            <md-button ng-click="vm.addUser($event)">添加</md-button>
        </md-toolbar>
        <div layout="row" ng-repeat="user in vm.users">
            <md-button>{{$index+1}}</md-button>
            <md-button>{{user.name}}</md-button>
            <md-button>{{user.type === 0 ? '学生':'老师'}}</md-button>
        </div>
        <div ng-if="!vm.users || vm.users.length === 0">
            <md-button ng-click="vm.addUser($event)">一个师生都没有,点此添加</md-button>
        </div>
    </md-content>
</div>
