<div  style="position:absolute;top:50%;left:50%;">
  <div layout="row" style="width:500px;height:230px;position: relative; margin:-115px auto auto -250px;">
    <div flex hide-sm flex-order="1" align="right"  layout-padding>
      <img src="../assets/images/img/login_01.png" layout-padding/>

      <div class="login-font">作业管理系统</div>
      <p class="login-font-p">2015年田黄雪薇版权所有</p>
    </div>
    <div flex flex-order="2" align="center">
      <form name="vm.loginForm" layout="column" layout-align="center center">
        <md-input-container flex>
          <label align="left">账号</label>
          <input required ng-model="vm.user.userName" placeholder="请输入用户名">
          <div ng-messages="vm.loginForm.user.userName.$error">
            <div ng-message="required">账号不能为空</div>
          </div>
        </md-input-container>
        <md-input-container flex>
          <label align="left">密码</label>
          <input required ng-model="vm.user.password" type="password" placeholder="请输入密码">

          <div ng-messages="vm.loginForm.user.password.$error">
            <div ng-message="required">密码不能为空</div>
          </div>
        </md-input-container>
        <md-button class="md-raised md-primary" style="width: 175px;box-shadow: none;color:#fff" ng-click="vm.login($event)" flex>
          登陆
        </md-button>
      </form>
      <md-button ng-click="vm.stuRegister($event)" style="margin-top: 20px;color: green;padding: 10px">学生注册</md-button>
      <md-button ng-click="vm.teacherRegister($event)" style="margin-top: 20px;color: green;padding: 10px">老师注册</md-button>
    </div>
  </div>
</div>
