<md-content layout="column" flex>
    <md-toolbar layout="row">
        <div class="md-toolbar-tools" flex>课程列表</div>
        <md-button ng-click="vm.addCourse($event)">添加</md-button>
    </md-toolbar>
    <div layout="column" ng-repeat="course in vm.user.courses">
        <a  ng-href="/#/main/course/students?id={{course.id}}" class="link container-padding" flex>
            <div layout="row" layout-align="center center">
                <h3>{{$index+1}}</h3>
                <span class="split-30"></span>
                <div layout="column" flex>
                    <h2>{{course.name}}</h2>
                    <label>{{course.type}}</label>
                </div>
                <span>学生数: {{course.students.length}}</span>
            </div>
        </a>
        <div class="list-divider" ng-if="!$last"></div>
    </div>
    <div ng-if="!vm.user.courses || vm.user.courses.length === 0">
        <md-button ng-click="vm.addCourse($event)">没有课程，点此添加</md-button>
    </div>
</md-content>
