<form name="vm.addForm">
  <md-content layout="column">
    <md-toolbar layout="row">
      <div class="md-toolbar-tools" flex>选择师生添加到{{vm.department.name}}</div>
      <md-button class="btn-ctrl" ng-click="vm.updateUser($event)">提交</md-button>
      <md-button class="btn-ctrl" ng-click="back()">取消</md-button>
    </md-toolbar>
    <md-content>
      <div layout="row" ng-repeat="user in vm.users | filter:{type:'!2'}">
        <md-button>{{$index+1}}</md-button>
        <md-checkbox ng-model="user.selected" flex>{{user.name}}</md-checkbox>
      </div>
    </md-content>
  </md-content>
</form>
